@use "partials/reset" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
html {
    overflow-y: scroll;
    
}
body {
    position: relative;

    .row {
        --bs-gutter-x: 0;
    }
}