/* 
    --------------------
    MIXINS
    --------------------
*/
@use "variables" as *;

@mixin buttonPrimary {
    background-color: transparent;
    color: $primary-color;
    border: 2px solid $primary-color;
    padding: 15px 40px;
    font-size: 1rem;
    transition: all ease;
    &:hover{
        opacity: 0.8;
    }
}