.home {
    background-image: url('src/barber-shop/img/avadabarbers-reviewsbackground.jpg');
    background-size: cover;
    background-position: center;
}

.about-Us {
    background-image: url('src/barber-shop/img/avadabarbers-blog-ptb-retina.jpg');
    background-size: cover;
    background-position: center;
}

.services {
    background-image: url('src/barber-shop/img/avadabarbers-about-ptb-retina.jpg');
    background-size: cover;
    background-position: center;
}

.shop {
    background-image: url('src/barber-shop/img/avadabarbers-contact-ptb-retina.jpg');
    background-size: cover;
    background-position: center;
}

.our-team {
    background-image: url('src/barber-shop/img/avadabarbers-homepage-hero-bg.jpg');
    background-size: cover;
    background-position: center;
}

.blog {
    background-image: url('src/barber-shop/img/avadabarbers-services-ptb-retina.jpg');
    background-size: cover;
    background-position: center;
}

.contact-us {
    background-image: url('src/barber-shop/img/avadabarbers-trimcut-hero.jpg');
    background-size: cover;
    background-position: center;
}