/* 
    --------------------
    VARIABLES
    --------------------
*/

$primary-color: #BE9359;
$second-color: #B0B0B0;
$primary-font: 'Abril Fatface',cursive, Arial, Helvetica, sans-serif;
$second-font : 'Lato', sans-serif;